@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом)
    font-family: "Druk Wide";
    // адрес шрифта и тип
    src: url("../fonts/Druk Wide Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
