.main {
    &__content {
        position: relative;
    }

    &__content-background {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        z-index: -1;
    }

    &__content-background-item1 {
        position: absolute;
        width: 40px;
        height: 8px;
        left: -102px;
        top: 289px;

        background: #1f2326;
        opacity: 0.5;

        animation: line 10s linear infinite;
    }

    &__content-background-item2 {
        position: absolute;
        width: 80px;
        height: 100px;

        left: 100px;
        bottom: 383px;
    }

    &__content-background-item2-elem1 {
        position: absolute;
        width: 80px;
        height: 80px;
        left: 0;
        top: 0;

        background: #1f2326;
        opacity: 0.5;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content-background-item2-elem1-img {
        width: 48px;
        height: 40px;
    }

    &__content-background-item2-elem2 {
        position: absolute;
        width: 80px;
        height: 8px;
        left: 0;
        bottom: 0;

        background: #1f2326;
        opacity: 0.5;
    }

    &__content-background-item3 {
        position: absolute;
        width: 8px;
        height: 8px;
        left: 421px;
        top: 90px;

        background: #1f2326;
        opacity: 0.5;
    }

    &__content-background-item4 {
        position: absolute;
        width: 8px;
        height: 8px;
        left: 389px;
        top: 90px;

        background: #1f2326;
        opacity: 0.5;
    }

    &__content-background-item5 {
        position: absolute;
        width: 232px;
        height: 8px;
        left: 102px;
        bottom: 250px;

        background: #1f2326;
        opacity: 0.5;

        animation: line 40s linear infinite;
    }

    &__content-background-item6 {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 831px;
        top: 90px;

        background: #1f2326;
        opacity: 0.5;

        animation: box 25s linear infinite;
    }

    &__content-background-item7 {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 969px;
        bottom: 408px;

        background: #1f2326;
        opacity: 0.5;

        animation: box2 20s linear infinite;
    }

    &__content-background-item8 {
        position: absolute;
        width: 24px;
        height: 8px;
        right: 1111px;
        top: 189px;

        background: #1f2326;
        opacity: 0.5;

        animation: line 13s linear infinite;
    }

    &__content-background-item10 {
        position: absolute;
        width: 80px;
        height: 8px;
        right: 1098px;
        bottom: 655px;

        background: #1f2326;
        opacity: 0.5;

        animation: line2 30s linear infinite;
    }

    &__content-background-item11 {
        position: absolute;
        width: 8px;
        height: 8px;
        right: 1098px;
        bottom: 531px;

        background: #1f2326;
        opacity: 0.5;
    }

    &__content-background-item12 {
        position: absolute;
        width: 232px;
        height: 8px;
        right: 493px;
        top: 73px;

        background: #1f2326;
        opacity: 0.5;

        animation: line 20s linear infinite;
    }

    &__content-background-item13 {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 520px;
        top: 389px;

        background: #1f2326;
        opacity: 0.5;

        animation: box 35s linear infinite;
    }

    &__content-background-item14 {
        position: absolute;
        width: 61px;
        height: 8px;
        right: 377px;
        top: 712px;

        background: #1f2326;
        opacity: 0.5;

        animation: line2 15s linear infinite;
    }

    &__content-background-item15 {
        position: absolute;
        width: 8px;
        height: 8px;
        right: 399px;
        bottom: 316px;

        background: #1f2326;
        opacity: 0.5;
    }

    &__content-background-item16 {
        position: absolute;
        width: 8px;
        height: 8px;
        right: 367px;
        bottom: 316px;

        background: #1f2326;
        opacity: 0.5;
    }

    &__content-background-item17 {
        position: absolute;
        width: 40px;
        height: 40px;
        right: 53px;
        bottom: 333px;

        background: #1f2326;
        opacity: 0.5;

        animation: box2 25s linear infinite;
    }

    &__content-background-item18 {
        position: absolute;
        width: 8px;
        height: 8px;
        left: 102px;
        top: 437px;

        background: #1f2326;
        opacity: 0.5;
    }
}

@keyframes line {
    0% {
        left: 0;
    }

    50% {
        left: 2660px;
    }

    100% {
        left: 0;
    }
}

@keyframes box {
    0% {
        top: -140px;
    }

    50% {
        top: 1400px;
    }

    100% {
        top: -140px;
    }
}

@keyframes line2 {
    0% {
        right: 0;
    }

    50% {
        right: 2660px;
    }

    100% {
        right: 0;
    }
}

@keyframes box2 {
    0% {
        bottom: -300px;
    }

    50% {
        bottom: 1350px;
    }

    100% {
        bottom: -300px;
    }
}
